$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$off-black: #3a3939;

$yellow: rgba(247, 212, 21, 1);
$green: rgba(7, 167, 82, 1);
$orange: rgba(222, 135, 2, 1);
$blue: rgba(11, 148, 214, 1);
$red: rgba(191, 17, 56, 1);
$red-light: rgba(199, 53, 53, 1);
$silver: rgba(161, 163, 161, 1);
$light-grey: #929292;
$dark-grey: rgb(112, 112, 112);
$purple: #823aa0;
$purple-light: #9e54bd;
$white-faded: rgba(255, 255, 255, .2);
$white-faded-less: rgba(255,255,255,.1);
$off-yellow: #405539;
$black-background: rgba(0, 0, 0, .6);
$white-background: rgba(255, 255, 255, .6);
$off-white: rgb(219, 219, 219);
