.gallery::before,
.gallery::after {
    content: " ";
    display: table;
}

.gallery::after {
    clear: both;
}

.gallery-item {
    float: left;
    margin:0 1em 1em 0;

    
    a {
        display: block;
    }



    // 1 column
    .gallery-columns-1 & {
        float: none;

        a {
            text-align: center;
        }
    }

    // set the image height ot auto so they do no stretch
    img {
        height: 75px;
        width: 75px;
    }


    .gallery-caption {
        display: none;
    }
}
