
// Alert variables ---------- //
$usa-custom-alerts: () !default;

$usa-alerts: (
success: $color-green-lightest,
warning: $color-gold-lightest,
error: $color-secondary-lightest,
info: $color-primary-alt-lightest
);

$alerts: map-merge($usa-alerts, $usa-custom-alerts);

div.wpcf7-response-output{
    background-color: $color-gray-lightest;
    background-position: 1rem 2rem;
    background-repeat: no-repeat;
    background-size: 4rem;
    margin: 1.5em 0 2em;
    max-width: 46rem;
    padding: 1.2em 3em 2em 4em;


    &.wpcf7-validation-errors {
        background-color: #f9dede;
        background-image: url(../img/alerts/error.svg);
        border-width: 0;
    }

    &.wpcf7-mail-sent-ok {
        background-color: $color-green-lightest;
        background-image: url(../img/alerts/success.svg);
        border-width: 0;
    }

    @include media($medium-screen) {
        background-size: 5.2rem;
        padding-left: 4em;
    }

    ul {
        margin-bottom: 0;
        margin-top: 1em;
    }

    .usa-alert-icon {
        display: table-cell;
        padding-right: 1rem;
    }

}
