.usa-header-basic .usa-logo {
    @media(min-width: 951px) {
        bottom: initial;
        position: initial;
        padding-top: 2rem;
        padding-bottom: 1.9rem;
    }
}


.usa-logo-text {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'sans-serif';
    line-height: 4rem;
}

.usa-logo-image a{
    display: block;
    height: 4rem;
    line-height: 4rem;

    img {
        vertical-align: middle;
        max-height: 100%;
        max-width: initial;
        width: auto;
        @media(max-width: 950px){
            height: 2rem;
        }
    }
}
