.gallery::before,
.gallery::after {
    content: " ";
    display: table;
}

.gallery::after {
    clear: both;
}

.gallery-item {
    float: left;
    margin:0 1em 1em 0;
    padding-bottom: 2.2rem;
    position: relative;


    a {
        display: block;
    }

    // on phone sized screens, images are all stacked
    @media(max-width: $small-screen) {
        float: none;
        text-align: center;
        max-width: 100%;
        width: auto;
    }
    // on medium size screens and up, galleries have variable image sizes
    @media(min-width: $small-screen) {
        @for $i from 1 through 12 {
            .gallery-columns-#{$i} & {
                width:  calc( ( 100% / #{$i} ) - 1em);
            }
        }

    }

    // set the image height ot auto so they do no stretch
    img {
        height: auto;
    }

    .gallery-caption {
        line-height: 2.2rem;
        margin-bottom: -2.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    &:hover .gallery-caption,
    &:focus .gallery-caption,
    &:active .gallery-caption {
        background-color: $color-white;
        overflow: auto;
        position: absolute;
        text-overflow: initial;
        white-space: initial;
        width: 100%;
        z-index: 99;
    }

    // 1 column
    .gallery-columns-1 & {
        float: none;

        a {
            text-align: center;
        }
    }


}
