
/* Hero */
.usa-hero,
.usa-hero a {
    color: white;
}

.usa-hero {
    background-color: $color-primary-alt-darkest;
    background-image: none;
    position: relative;
}

.usa-hero--medium {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.usa-hero--big {
    padding-top: 9rem;
    padding-bottom: 9rem;
}


// Full hgiht hero
.usa-hero--full {
    min-height: 100vh;
}

// trim hero a little more if the admin bar is showing
.admin-bar .usa-hero--full {
    min-height: calc( 100vh - 46px);

    @media(min-width: 782px) {
        min-height: calc( 100vh - 32px);

    }
}



// the image BG overlay
.usa-hero::before {
    background-color: $black-overlay;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.usa-hero > .usa-grid{
    position: relative;
}
