
/* Hero */
.usa-hero,
.usa-hero a {
    color: white;
}

.usa-hero {
    position: relative;
}

.usa-hero--medium {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.usa-hero--big {
    padding-top: 9rem;
    padding-bottom: 9rem;
}


// Full hgiht hero
.usa-hero--full {
    height: 100vh;
}

// trim hero a little more if the admin bar is showing
.admin-bar .usa-hero--full {
    height: calc( 100vh - 46px);

    @media(min-width: 782px) {
        height: calc( 100vh - 32px);

    }
}



// the image BG overlay
.usa-hero::before {
    background-color:rgba(0, 0, 0, .4);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.usa-hero > .usa-grid{
    position: relative;
}


.usa-hero > .usa-hero__video-bg {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    > video,
    > iframe {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
    }
}
