
/* Hero */
.usa-hero,
.usa-hero a {
    color: white;
}

.usa-hero {
    background-color: $color-primary-alt-darkest;
    background-image: none;
    position: relative;

    .post-meta__field,
    .entry-meta__field  {
        float: left;
        margin-bottom: 0;
        margin-right: 10px;
    }
    
    .hero__pre-title  {
        margin-bottom: 2rem;

        .dashicons {
            font-size: inherit;
            height: auto;
            margin-right: 1.5rem;
            line-height: 1.3;
            width: auto;
        }
    }

    .hero__post_format {
        margin-bottom: 1.4rem;
    }
}


// the title
.hero__title {

    .dashicons {
        font-size: inherit;
        height: auto;
        margin-right: 1.5rem;
        line-height: 1.3;
        width: auto;
    }
}


// Sizes
.usa-hero--slim {

    .audio-player {
        margin-bottom: -3rem;
    }
}



.usa-hero--medium {
    padding-top: 6rem;
    padding-bottom: 6rem;

    .audio-player {
        margin-bottom: -6rem;
    }
}

.usa-hero--big {
    padding-top: 9rem;
    padding-bottom: 9rem;

    .audio-player {
        margin-bottom: -9rem;
    }
}

.usa-hero--xtra-big {
    padding-top: 14rem;
    padding-bottom: 14rem;

    .audio-player {
        margin-bottom: -14rem;
    }
}


// Full hgiht hero
.usa-hero--full {
    min-height: 100vh;
}

// trim hero a little more if the admin bar is showing
.admin-bar .usa-hero--full {
    min-height: calc( 100vh - 46px);

    @media(min-width: 782px) {
        min-height: calc( 100vh - 32px);

    }
}



// the image BG overlay
.usa-hero::before {
    background-color: $black-overlay;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.usa-hero > .usa-grid{
    position: relative;
}
