.usa-media_block--right {
    text-align: right;
}

.usa-media_block--right .usa-media_block-img {
    float: right;
    margin-left: 3rem;
    margin-right: 0;
}

.usa-media_block{
    margin-bottom: 3rem;
}
