.usa-header {
    background-color: $color-white;
}

.usa-header.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    .admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

}

/* navbar */
.usa-navbar {
    width: auto ;

    @media screen and (min-width: 951px){
      width: auto;
    }
}

.usa-header-basic .usa-navbar {
    @media screen and (min-width: 951px){
      width: auto;
    }
}

.usa-logo {
    position: relative;
}

@media screen and (min-width: 951px){
    .usa-nav-container .usa-nav{
        padding-top: 2rem;
    }
    //
    .usa-nav-container .usa-navbar{
        height: 7.3rem;
        // width: auto;
    }
}


.usa-accordion-button.usa-nav-link.child-active > span{
    border-bottom: 0.7rem solid $color-primary;
    padding-bottom: 1rem;
}

.usa-nav-close {
    background-image: url('#{$image-path}/close.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px;
}

@media screen and (max-width: 782px) {
    .admin-bar .usa-nav {
        top: 46px;
    }
}


@media screen and (max-width: 950px) {
    .admin-bar .usa-nav {
        top: 32px;
    }
}
