
.usa-header--dark {
    background-color: $color-primary-darkest;
    border-bottom: 1px solid $color-primary;

    .usa-navbar {
        border-bottom: 0;
    }

    .usa-logo a {
        color: $color-white;
    }

    .usa-nav {
        background-color: $color-primary-darkest;
    }

    .usa-nav-primary button,
    .usa-nav-primary > li > a {
        color: $color-white;
    }

    .usa-nav-primary button[aria-expanded=false] { /* stylelint-disable-line selector-no-qualifying-type */
        background-image: url('#{$image-path}/angle-arrow-down-hover.png');
        background-image: url('#{$image-path}/angle-arrow-down-hover.svg');
    }



    .is-visible .usa-nav-primary a:hover,
    .is-visible .usa-nav-primary button:hover {
        background-color: $color-primary-alt-dark;
        color: $color-primary-darkest;

    }

    .is-visible .usa-nav-primary button[aria-expanded=true] {
        background-image: url('#{$image-path}/minus-white.png');
        background-image: url('#{$image-path}/minus-white.svg');
    }

    // submenu
    .usa-nav-primary button[aria-expanded=true] {
        background-color: $color-primary;
        > span {
            border-bottom-color: $color-primary-darkest;
        }
    }
    .usa-nav-submenu {
        background-color: $color-primary;
    }


    // mobile submenu / drawer
    .is-visible .usa-nav-primary .usa-nav-submenu a {
        color: $color-white;

        &:hover {
            color: $color-primary-darkest;
        }
    }

    .usa-nav-close {
        background-image: url('#{$image-path}/close-white.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 13px;
    }
}
