.post-navigation {
    margin-bottom: 1.5rem;

    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }

}


.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}
