/* Table fix */
.sortable-row table th,
.sortable-row table td,
.usa-width-one-third table th,
.usa-width-one-third table td {
    padding: .5rem;
}

.usa-width-one-fourth table th,
.usa-width-one-fourth table td {
    padding: .25rem;
}

.usa-section-dark {
    table td,
    table th {
        color: $color-primary;

        a {
            color: $color-primary-alt-dark;

            &:hover,
            &:focus,
            &:active {
                color: $color-primary-alt-darkest;
            }
        }
    }
}


.widget table {
    margin-top: 0;
}
