
.video-bg {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media(min-width: $medium-screen) {
        display: block;
    }

    > video{
        bottom: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }

    > iframe {
        width: 100vw;
        height: calc(100vw/1.77)
    }

    &::after {
        background-color: $black-overlay;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.video-screen {

    > * {
        max-height: 400px;
    }
}
