.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto 20px;
}

.alignright {
    float:right;
    margin:0 0 0 20px;
}

.alignleft {
    float: left;
    margin:0 20px 0 0;
}

.aligncenter {
    display: block;

}

a img.alignright {
    float: right;
     margin:0 0 0 20px;
}

a img.alignnone {

}

a img.alignleft {
    float: left;
    margin:0 20px 0 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.gallery-caption,
.wp-caption {
    max-width: 96%; /* Image does not overflow the content area */
}

.gallery-caption.alignnone,
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.gallery-caption.alignleft,
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.gallery-caption.alignright,
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.gallery-caption p.wp-caption-text,
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 10px 0 0;
    text-align: center;
}
