@mixin content-span-columns($span: $columns of $container-columns, $display: block) {
    $columns: nth($span, 1);
    $container-columns: container-span($span);

    $parent-columns: get-parent-columns($container-columns) !global;

    $direction: get-direction($layout-direction, $default-layout-direction);
    $opposite-direction: get-opposite-direction($direction);


    float: #{$opposite-direction};

    display: block;
    margin-#{$direction}: floor(flex-gutter($container-columns));
    width: floor(flex-grid($columns, $container-columns));

    &:last-child {
        margin-#{$direction}: 0;
    }


}
