// Mobile First Breakpoints
.visible-medium-up {
    display: none;

    @media screen and (min-width: $medium-screen){
        display: block;
    }
}
// Mobile First Breakpoints
.visible-large-up {
    display: none;

    @media screen and (min-width: $large-screen){
        display: block;
    }
}

.hidden-medium-up {
    @media screen and (min-width: $medium-screen){
        display: none !important;
    }
}

.hidden-large-up {
    @media screen and (min-width: $large-screen){
        display: none !important;
    }
}
